body{
   padding: 0;
   margin: 0;
   position: relative;
}
*{
   box-sizing: border-box;
}
.s1 {
   width: 100%;
   min-height: 786px;
   background-color: #eff0f2;
   text-align: center;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1067px;
   width: 100%;
   margin: 0 auto;
   padding: 60px 10px 0 10px;
   
}
.header__logo {
   cursor: pointer;
   transition: all .2s ease;
   max-height: 40px;
}
.header-logo:hover {
   transform: scale(1.03);
}
.header__burger {
   cursor: pointer;
}
._blue-bg{
   padding: 10px;
   background-color: #b2f2ee;
   color: #505050;
}
.s1__title {
   width: 100%;
   text-align: center;
   padding-top: 140px;
}
.header__title-p {
   font-family: Montserrat;
   font-size: 45px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #505050;
}
.s1__button-wrap {
   width: 100%;
   padding-top: 140px;
   display: flex;
   justify-content: center;
}
.s1__button {
   min-height: 53px;
   padding: 0 44px;
   opacity: 0.5;
   border: 2px solid #000000;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all .2s ease;
   cursor: pointer;
}
.s1__button a{
   opacity: 0.74;
   font-family: Montserrat;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.12em;
   color: #000000;
   text-decoration: none;
}
.s1__button:hover{
   background-color: rgba(0, 0, 0, 0.3);
}

.main-menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   display: flex;
}
.main-menu__part-left {
   padding: 30px 20px;
   flex: 0 0 65%;
   background-color: rgba(16, 27, 31, 0.99);
   position: relative;
}
.menu__title {
   color: #fff;
   font-size: 30px;
   font-family: Raleway;
}
.menu-list {
   list-style-type: none;
   padding-top: 30px;
   display: block;
}
.menu-link{
   position: relative;
}
.menu-link a{
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   font-family: Raleway;
   display: block;
   margin: 30px 20px;
}
.menu-link a:hover::before{
   left: -60px;
   width: 70px;
}
.menu-link a::before{
   content: "";
   position: absolute;
   width: 10px;
   height: 2px;
   display: block;
   z-index: 50;
   background-color: #fff;
   transition: all .2s ease;
   left: 0px;
   top: 50%;
}
.main-menu__part-right {
   flex: 0 0 35%;
   padding: 30px 20px;
   background-color: rgba(188, 195, 199, 0.99);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;
}
.tit {
   font-size: 24px;
   color: rgb(0, 0, 0)000;
   font-weight: 600;
   font-family: Raleway;
}
.menu__close {
   position: absolute;
   cursor: pointer;
   right: 20px;
   top: 20px;
   width: 30px;
   height: 30px;
   border-radius: 5px;
   background-color: rgba(255, 255, 255, 0.726);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all .2s ease;
}
.menu__close:hover{
   transform: scale(1.05);
}
.menu__close span::before,
.menu__close span::after{
   content: "";
   height: 2px;
   width: 25px;
   background-color: rgba(0, 0, 0, 0.829);
   position: absolute;
}
.menu__close span::after{
   transform: rotate(45deg);
   right: 2px;
}
.menu__close span::before{
   transform: rotate(-45deg);
   left: 2px;
}